.dashboard {
    display: flex;
    min-height: 100vh; /* Ocupa todo el alto de la ventana */
  }
  
  
  .content {
    flex-grow: 1; /* Ocupa el espacio restante */
    padding: 20px;
    background-color: #fff; /* Fondo blanco para el contenido */
  }
  