.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tituloSubasta {
  flex-grow: 1; /* Asegura que el texto ocupe el espacio necesario */
}

.banner {
  max-width: 50%; /* Ajusta esto según tus necesidades */
  height: auto;
}

.main-section {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  min-width: 250px;
  max-width: 31%;
}

@media (max-width: 768px) {
  .header-content {
      flex-direction: column;
  }

  .banner {
      max-width: 100%;
  }
}

@media (max-width: 480px) {
  .card {
      max-width: 90%;
  }
}
