.landing-page .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page .tituloSubasta {
  text-align: left;
}

.landing-page .banner {
  max-width: 100%;
  height: auto;
}

.landing-page .main-section {
  text-align: center;
}

.landing-page .landing-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.landing-page .landing-card-link {
  text-decoration: none;
  color: inherit;
  flex: 1;
  max-width: 300px; /* Ajusta este valor según sea necesario */
  margin: 10px;
}

.landing-page .landing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 200px; /* Ajusta este valor según sea necesario */
  transition: transform 0.3s;
}

.landing-page .landing-card:hover {
  transform: translateY(-5px);
}

.landing-page .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.landing-page .card-text {
  font-size: 0.9rem; /* Ajusta el tamaño del texto para que sea más pequeño */
}
