.lote-carousel {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lote-carousel .carousel-inner {
    height: 100%;
}

.lote-carousel-image {
    height: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subasta-detalle-card {
    width: 100%;
    max-width: 450px;
    margin: auto;
}

@media (max-width: 768px) {
    .lote-carousel {
        height: auto;
    }
    .lote-carousel-image {
        height: auto;
    }
    .subasta-detalle-card {
        max-width: 100%;
    }
}

.mt-3 {
    margin-top: 1rem;
}
