/* Estilos básicos del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar-auth-btn, button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-auth-btn:hover, button:hover {
  background-color: #0056b3;
  color: #f8f9fa;
}

.navbar.scrolled {
  background-color: #f8f9fa;
}

.navbar-logo img {
  height: 80px;
  width: 250px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}

.navbar-item {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navbar-mobile-toggle {
  background: none;
  border: none;
  display: none;  /* Asegurarse de que el botón de menú solo se muestre en dispositivos móviles */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-mobile-toggle {
      display: block;
  }

  .navbar-menu {
      position: fixed;
      top: 60px; /* Asegúrate de ajustar esto según la altura de tu Navbar */
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      visibility: hidden;
      opacity: 0;
      transform: translateY(-10px); /* Pequeña animación para el menú desplegable */
      transition: all 0.3s ease;
  }

  .navbar-menu.open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
  }
}
